
.DS_Store
app/GX430TMacControl/build/
installer/component.plist
installer/pkgroot/
ios/GX430TiPhone/*.xcodeproj/xcuserdata/
ios/GX430TiPhone/*.xcworkspace/xcuserdata/
ios/GX430TiPhone/DerivedData/
ios/GX430TiPhone/build/
release/*.md
release/*.pkg
release/*.pkg.sha256
shared/GX430TKit/.build/
