<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleDisplayName</key>
	<string>GX430T</string>
	<key>CFBundleExecutable</key>
	<string>GX430TMacControl</string>
	<key>CFBundleIconFile</key>
	<string>GX430TAppIcon</string>
	<key>CFBundleIdentifier</key>
	<string>com.kaaffilm.gx430t.mac-control.app</string>
	<key>CFBundleName</key>
	<string>GX430T</string>
	<key>CFBundlePackageType</key>
	<string>APPL</string>
	<key>CFBundleShortVersionString</key>
	<string>0.2.8</string>
	<key>CFBundleVersion</key>
	<string>28</string>
	<key>LSMinimumSystemVersion</key>
	<string>13.0</string>
	<key>NSHighResolutionCapable</key>
	<true/>
</dict>
</plist>
